/* add_quiz.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #00f7ff;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: black !important;
    color: #00f7ff;
    padding-right: 20px;  /* Ajout d'un petit espace à droite */
}

.logo {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;  /* Centrer la liste des liens */
    margin-right: 3%; /* Enlever les espaces à gauche */
    margin-top: -3%;
}

nav ul li {
    margin-left: 15px; /* Réduire l'espacement entre les éléments */
}

nav ul li a {
    color: #00f7ff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #B42CCA;
}

/* Style de la section principale de la page add_quiz */
.add-quiz-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background-color: black;
}

h1 {
    color: #00f7ff;
    margin-bottom: 20px;
}

form {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 247, 255, 0.5);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #00f7ff;
    background-color: #000;
    color: #00f7ff;
    border-radius: 5px;
}

button {
    background-color: #B42CCA;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background-color: #8e1fa9;
}

footer {
    background: black;
    color: #00f7ff;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}