/* Général */
body {
    font-family: Arial, sans-serif;
    background-color: black;  /* Fond noir comme dans la charte graphique */
    color: #00f7ff;  /* Texte en cyan */
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: black;
    color: #00f7ff;
    padding-right: 20px;  /* Ajout d'un petit espace à droite */
}
.logo {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;  /* Centrer la liste des liens */
    padding-left: 0; /* Enlever les espaces à gauche */
}

nav ul li {
    margin-left: 15px; /* Réduire l'espacement entre les éléments */
}

nav ul li a {
    color: #00f7ff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color:#B42CCA;
}

/* Titre principal */
h1 {
    font-size: 2em;
    color: #00f7ff;  /* Cyan */
    margin-top: 20px;
    text-align: center;
}

/* Détails du score */
p {
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px;
    color: #00f7ff;  /* Cyan */
}

/* Détails des réponses */
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

/* Style pour chaque élément de réponse */
li {
    background-color: #333;  /* Fond gris foncé */
    border: 1px solid #00f7ff;  /* Bordure cyan */
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    color: #00f7ff;  /* Texte cyan */
}

/* Mise en valeur des réponses */
strong {
    font-weight: bold;
}

/* Résultats Corrects et Incorrects */
span {
    font-style: italic;
}

span[style="color: red;"] {
    color: red;  /* Réponses incorrectes en rouge */
}

span[style="color: green;"] {
    color: green;  /* Réponses correctes en vert */
}

/* Lien de retour */
a {
    display: block;
    text-align: center;
    background-color: #B42CCA;  /* Couleur du bouton en violet */
    color: white;
    padding: 10px;
    margin-top: 30px;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: white;
    color: #B42CCA;  /* Change la couleur au survol */
}

/* Responsive */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }
}